In [2]:
import pandas as pd


course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration ': duration})

df

        course_name  duration
0      Data Science          2
1  Machine Learning          3
2          Big Data          6
3     Data Engineer          4

## Question 1:

Write a code to print the data present in the second row of the dataframe, df.

In [8]:
df.loc[1:1]

        course_name  duration
1  Machine Learning          3

##Qestion 2. 

What is the difference between the functions loc and iloc in pandas.DataFrame?

 The main difference between loc and iloc is that loc uses labels to reference rows or columns, while iloc uses integer indices

## Question 3:

Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [18]:
reindex = [3,0,1,2]
new_df = df.reindex(reindex)

new_df

        course_name  duration
3     Data Engineer          4
0      Data Science          2
1  Machine Learning          3
2          Big Data          6

In [16]:
new_df.loc[2:]

  course_name  duration
2    Big Data          6

In [21]:
new_df.iloc[2:3]

        course_name  duration
1  Machine Learning          3

## Yes

The .loc function uses the label name to reference the row, rather the .iloc function uses the interger index location to reference the rows.

In [42]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.529656  0.470985  0.115650  0.515113  0.586992  0.965570
2  0.686832  0.813307  0.382330  0.777780  0.905313  0.846300
3  0.140510  0.126089  0.755338  0.782630  0.060262  0.085970
4  0.588227  0.942994  0.407781  0.173460  0.304579  0.271508
5  0.324388  0.090187  0.963050  0.011925  0.975620  0.753221
6  0.726000  0.961208  0.169138  0.073533  0.780991  0.389396

## Question 4. Write a code to find the following statistical measurements for the above dataframe df1:

(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [43]:
def statistical_measure(df):
    e_dict = {}
    for col in df.columns:
        if pd.api.types.is_numeric_dtype(df[col]):
            e_dict[f'mean_{col}'] = df[col].mean()
            
        if col == 'column_2':
            e_dict[f'std_{col}'] = df[col].std()
    return e_dict

In [44]:
statistical_measure(df1)

{'mean_column_1': 0.49926872349704077,
 'mean_column_2': 0.5674617031762094,
 'std_column_2': 0.3970914222129094,
 'mean_column_3': 0.4655478985401669,
 'mean_column_4': 0.389073459829221,
 'mean_column_5': 0.6022928825672721,
 'mean_column_6': 0.5519943651010766}

## Question 5:

Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.

In [46]:
df1['column_2'].loc[2] = str(df1['column_2'].loc[2])

In [47]:
df1

   column_1            column_2  column_3  column_4  column_5  column_6
1  0.529656            0.470985  0.115650  0.515113  0.586992  0.965570
2  0.686832  0.8133068348594491  0.382330  0.777780  0.905313  0.846300
3  0.140510            0.126089  0.755338  0.782630  0.060262  0.085970
4  0.588227            0.942994  0.407781  0.173460  0.304579  0.271508
5  0.324388            0.090187  0.963050  0.011925  0.975620  0.753221
6  0.726000            0.961208  0.169138  0.073533  0.780991  0.389396

In [48]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

WHY!!!

Because , due to the changes made on one of the variables in column_2 pandas now sees the entire column as an object, also arithmetic operations cannot happen between

an interger or float and str variable

## Question 6. 

What do you understand about the windows function in pandas and list the types of windows
functions?

## Question 7

. Write a code to print only the current month and year at the time of answering this question.

In [60]:
import datetime

current_date = datetime.datetime.now()
current_date = pd.to_datetime(current_date)


current_month_name = current_date.month_name()
current_month = current_date.month
current_year = current_date.year

In [61]:
print(current_month_name, current_year)

March 2023

In [62]:
print(current_month, current_year)

3 2023

## Question 8

Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [69]:
# prompt the user to enter the two dates
date_1 = input("Enter the first date (YYYY-MM-DD): ")
date_2 = input("Enter the second date (YYYY-MM-DD): ")

#Convert the inputs to dates
date1 = pd.to_datetime(date_1)
date2 = pd.to_datetime(date_2)

time1 = pd.Timedelta(days=3, hours=2, minutes=15)
time2 = pd.Timedelta(days=1, hours=15, minutes=55)

date_time_1 = date1 + time1
date_time_2 = date2 + time2

#Calculate the difference
date_time_diff = date_time_2 - date_time_1

days = date_time_diff.days
hours = date_time_diff.seconds // 3600
minutes = (date_time_diff.seconds // 60) % 60

# display the result
print(f"The difference between {date1.date()} and {date2.date()} is {days} days, {hours} hours, and {minutes} minutes.")

The difference between 2018-10-25 and 2023-10-25 is 1824 days, 13 hours, and 40 minutes.

## Question 9

Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [80]:

# Prompth users to enter the filepath, column_name, category_order
filepath = input('Enter the file path: ')
column_name = input('Enter the column name: ')
category_order = input('Enter the category order, seperated by commas ').split(',')

#Read the filepath into a dataframe
df = pd.read_csv(filepath)

#converts a specified column to a categorical data type.
df[column_name] = pd.Categorical(df[column_name], categories=category_order)

#Display the sorted data
df_sorted = df.sort_values(by=[column_name])

df_sorted

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
532,533,0,3,"Elias, Mr. Joseph Jr",male,17.0,1,1,2690,7.2292,NaN,C
536,537,0,1,"Butt, Major. Archibald Willingham",male,45.0,0,0,113050,26.5500,B38,S
538,539,0,3,"Risien, Mr. Samuel Beard",male,NaN,0,0,364498,14.5000,NaN,S
543,544,1,2,"Beane, Mr. Edward",male,32.0,1,0,2908,26.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
290,291,1,1,"Barber, Miss. Ellen ""Nellie""",female,26.0,0,0,19877,78.8500,NaN,S
651,652,1,2,"Doling, Miss. Elsie",female,18.0,0,1,231919,23.0000,NaN,S
289,290,1,3,"Connolly, Miss. Kate",female,22.0,0,0,370373,7.7500,NaN,Q
166,167,1,1,"Chibnall, Mrs. (Edith Martha Bowerman)",female,NaN,0,1,113505,55.0000,E33,S
184,185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4.0,0,2,315153,22.0250,NaN,S

## Question 10

Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Prompt user for file path
filepath = input("Enter file path: ")

# Read CSV file
df = pd.read_csv(filepath)

# Create a pivot table to aggregate sales data by product category and date
sales_by_category = pd.pivot_table(df, index='Date', columns='Product Category', values='Sales', aggfunc='sum')

# Create stacked bar chart
sales_by_category.plot(kind='bar', stacked=True)

# Set chart title and axis labels
plt.title('Sales by Product Category Over Time')
plt.xlabel('Date')
plt.ylabel('Sales')

# Show the chart
plt.show()

## Question 11:

In [ ]:
import pandas as pd

# Prompt user for file path
filepath = input("Enter file path: ")

# Read CSV file
df = pd.read_csv(filepath)

# Calculate mean, median, and mode of test scores
mean_score = df['test Score'].mean()
median_score = df['test Score'].median()
mode_score = df['test Score'].mode()[0]

# Create a table to display the results
results = pd.DataFrame({
    'Statistic': ['Mean', 'Median', 'Mode'],
    'Score': [mean_score, median_score, mode_score]
})

# Print the table
print(results)